$main-fontColor:#555746;
$border-color:#E2FF0A;
$accent-font:'Delius', cursive;

@import 'list';
@import 'category';

body{
	background: lighten(#A3A68B,30);
}

.header {
	background-image: url('../images/bobsBike3.png');
	border-bottom:3px solid $border-color;
}


h1 {
	font-family: 'Love Ya Like A Sister', cursive;
	font-size:80px;
	text-align:center;
	color:$main-fontColor;
}

h2 {
	font-family: 'Love Ya Like A Sister', cursive;
	text-align:center;
	font-size:45px;
	color:$main-fontColor;
}

h3 {
	font-family: 'Love Ya Like A Sister', cursive;
	text-align:center;
	font-size:30px;
	color:$main-fontColor;
}

ul.topNav {
	display:inline-block;
	
	li {
		display:inline-block;
		margin:0 auto;
		a {
			text-decoration: none;
			font-size: 25px;
			font-family: $accent-font;
			color:$main-fontColor;
			margin-left: 25px;

			&:hover {
				color:#C8E010;
				background-color:lighten(#A3A68B,10);
				padding:7px;
				border-radius:2px;
			}
		}
	}

}
img.featuredBike {
	width:300px;
	margin:0 auto;
	display:block;
	margin-top:10px;
	border:3px solid $border-color;
	border-radius:2px;

}

p.featuredBikeList {
	text-align:center;
	font-size: 20px;
	font-family:$accent-font;
	color:$main-fontColor;
	margin-top:10px;
}

footer {
	background-image: url('../images/bobsBike3.png');
	border-top:3px solid $border-color;
	text-align:center;
		font-size:20px;
		padding-top: 20px;
	small {
		font-family: 'Love Ya Like A Sister', cursive;
		color:#555746;
		
	}

}

input {
	max-width:400px;
	font-family:$accent-font;
}
