<h2>Ride a bike that you like</h2>

<div class="input-group">
    <input type="text" class="form-control" placeholder="Find your bike...">
    <span class="input-group-btn">
   		<button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
    </span>
</div>

<div class="featured">
	<h3>This Weeks Featured Bike</h3>
		<div ng-repeat="bike in main.data">
			<ul class="featuredBike">
				<li class="featuredBikeList">{{bike.name}}
				</li>
				<li class="featuredBikeList">{{bike.price}}
				</li>
				<li class="featuredBikeList"><img ng-src="{{bike.image}}">
				</li>
			</ul>
		</div>
</div>

